html,body{
  height: 100%;
}
ol,ul {
  padding: 0;
  list-style: none
}
.fix:after{
  content: '';
  display: table;
  clear: both;
}
.layout-queryPanel{
  background: #fff;
  padding: 20px;
}
.layout-queryPanel{
  .ivu-form-item,
  .ivu-date-picker{
    width: 100%;
  }
  .ivu-form-item-label{
    width: 120px;
  }
  .ivu-form-item-content{
    margin-left: 120px;
  }
}
//列表搜索，重置按钮
.query-btns{
  .ivu-col{
    padding-left: 50px !important;
  }
  .ivu-btn{
    margin-left: 8px;
  }
  .ivu-btn-text:focus{
    box-shadow:none;
  }
}
//操作按钮
.op-btns{
  margin-top: 20px;
  .ivu-col{
    text-align: right;
  }
  .ivu-btn{
    margin-left: 8px;
  }
}
.layout-tabQuery{
  .ivu-tabs-bar{
    background: #fff;
    margin-bottom: 0;
  }
}
.tip-title{
  margin-bottom: 10px;
}
