$var1: 1px;
$var2: 2px;
$var5: 5px;
$var10: 10px;
$var15: 15px;
$var20: 20px;
$var30: 30px;
$var40: 40px;
$var50: 50px;
$white:#fff;
$green: #39AA00;
$green1: #349D00;
$red:#E33900;
$red1:#CE3400;
$blue:#4A89DC;
$blue1:#1C4E7C;
$blue2:#3270C3;
$blue3:#153A5C;
$blue4:#0C2D4B;
$gray:#E4E4E4;
$gray1:#F2F2F2;
$gray2:#F8F8F8;
$gray3:#FCFCFC;
$gray4:#EFEFEF;
$gray5:#D7D7D7;
$gray6:#666;
$gray7:#999;
$gray8:#FAFAFA;
$gray9:#F5F7F9;
$gray10:#E3E3E3;
$gray11:#949494;
$gray12:#BCBCBC;


$varlist:(
  1:$var1,
  2:$var2,
  5:$var5,
  10:$var10,
  15:$var15,
  20:$var20,
  30:$var30,
  40:$var40,
  50:$var50
);

@each $i,$var in $varlist {
  .f-w#{$i}{
    width: $var;
  }
  .f-mt#{$i}{
    margin-top:$var;
  }
  .f-pt#{$i}{
    padding-top: $var;
  }
}
